<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="IntervalMinutes" value="0.25" />
    <add key="NumberOfDays" value="1" />

    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:write-to:File.path" value="C:\temp\XovisDataSyncService\Logs\Log-.log"/>
    <add key="serilog:write-to:File.rollingInterval" value="Day"/>
    <add key="serilog:write-to:File.retainedFileCountLimit" value="30"/>
    <add key="serilog:write-to:File.shared" value="true"/>

  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="User Id=s17AA;Password=mGC1$C0tvg;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.25.66.21)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=oradev19)))" providerName="System.Data.OracleClient" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>